.auth {
  text-align: center;
  padding-top: 40px;
  min-height: 100vh;
}

.auth img {
  width: 150px;
}

.auth .brand-name{
  color: white;
  font-family: 'Megrim', cursive;
  font-size: 2rem;
  font-weight: bolder;
}

.auth .auth-form{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  padding: 15px 20px;
  background-color: rgba(227, 220, 213, 0.8);
  border-radius: 5px;
}

.auth .auth-form a{
  color: #ce7413;
  font-weight: bolder;
}

.auth .small-text{
  margin-top: 15px;
}