#Footer{
  background-color: #ce7413;
  width:100vw;
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

#Footer a{
  color: white;
  text-decoration: none;
}

#Footer a:hover{
  text-decoration: none;
}