#Footer{
  background-color: #ce7413;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

#Footer a{
  color: white;
  text-decoration: none;
}

#Footer a:hover{
  text-decoration: none;
}