#Horses{
  padding-top: 40px;
}

#Horses .bienvenue{
  font-family: 'Megrim', cursive;
  padding-top: 15px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bolder;
}

#Horses .button{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

#Horses .cards-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#Horses .horse-card{
  width: 160px;
}

#Horses .horse-infos p{
  margin: 0;
  font-size: 0.7rem;
}

#Horses .horse-pictures {
  max-height: 150px;
  min-height: 150px;
  background-image: url(/images/default-horse.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#Horses .horse-one-picture {
  max-height: 150px;
  min-height: 150px;
  background-position: center;
  background-size: cover;
}

#Horses .phase-logo{
  width: 30px;
}

#Horses .phases{
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#Horses .horse-name{
  font-family: 'Megrim', cursive;
  font-weight: bold;
  text-align: center;
}

