#OneHorse{
  padding-top: 60px;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgba(227, 220, 213, 0.8);
}

#OneHorse .top-part{
  display: flex;
  justify-content: center;
}

#OneHorse .pictures{
  text-align: center;
}

#OneHorse .phase-logo{
  width: 50px;
}

#OneHorse .pictures a{
  color: #5a002c;
  font-weight: bold;
  font-size: 0.9rem;
}

#OneHorse .identity h2{
  max-width: 44vw;
  font-weight: 600;
  word-wrap: break-word;
  font-family: 'Megrim', cursive;
}

#OneHorse .identity{
  padding-left:10px;
}

#OneHorse .identity p{
  margin: 0px
}

.dividers{
  padding: 0px 10px;
  color: gray;
}

.dividers .nav-link{
  background-color:rgb(227, 220, 213);
  color: black;
  font-size: 0.8rem;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.4)
}

.dividers .nav-link.active{
  border: none;
}

.dividers .tab-content{
  background-color: white;
  min-height: 300px;
  padding: 10px 20px;
}