/* orange : #ce7413
bordeaux : #5a002c */

@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.App{
  font-family: 'Raleway', sans-serif;
  min-height: 100vh;
  background-image: url('/images/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.App a:hover{
  text-decoration: none;
  color: white;
}

.button{
  display: block;
  text-align: center;
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  color: white;
  font-family: 'Megrim', cursive;
  font-weight: bolder;
  width: 100%;
}

.small-button{
  text-align: center;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  border: none;
}

.btn-orange{
  background-color: #ce7413;
}

.btn-orange:hover{
  background-color:#fe8b10;
}

.btn-bordeaux{
  background-color: #5a002c;
}

.btn-bordeaux:hover{
  background-color: #7c013d;
}
